<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    {% if page.description %}
    <meta name="description" content="{{ page.description }}">
    {% endif %}
    <link rel="author" href="http://twitter.com/aconfusedninja" />
    <link rel="publisher" href="http://twitter.com/aconfusedninja" />
    
    <meta name="keywords" content="UK, politics, political, government, MP">

    <!-- OpenGraph metadata -->
    {% if page.title %}
      <meta property="og:title" content="{{ page.title }}"/>
    {% else %}
      <meta property="og:title" content="{{ site.title }}"/>
    {% endif %}
    <meta property="og:type" content="blog"/>
    {% if page.header-img %}
      <meta property="og:image" content="{{ site.url }}/{{ page.header-img }}" />
    {% endif %}
    <meta property="og:url" content="{{ page.url }}" />
    {% if page.description %}
        <meta property="og:description" content="{{ page.description }}" />
    {% else %}
        <meta property="og:description" content="{{ site.description }}" />
    {% endif %}
    <!-- End of OpenGraph metadata -->

    <!-- Twitter cards metadatas -->
    <meta name="twitter:card" content="summary"/>
    <meta name="twitter:site" content="@aconfusedninja"/>
    <meta name="twitter:creator" content="@aconfusedninja"/>
    {% if page.title %}
      <meta name="twitter:title" content="{{ page.title }}">
    {% else %}
      <meta name="twitter:title" content="{{ site.title }}">
    {% endif %}
    {% if page.url %}
      <meta name="twitter:url" content="{{ site.url }}{{ page.url }}"/>
    {% endif %}
    {% if page.description %}
      <meta name="twitter:description" content="{{ page.description }}"/>
    {% else %}
      <meta name="twitter:description" content="{{ site.description }}"/>
    {% endif %}
    {% if page.header-img %}
      <meta name="twitter:image:src" content="{{ site.url }}/{{ page.header-img }}"/>
    {% endif %}
    <!-- End of Twitter cards metadata-->

    <link rel="shortcut icon" href="/favicon.ico" type="image/x-icon">
    <link rel="icon" href="/assets/images/favicon.ico" type="image/x-icon">
    <link href='http://fonts.googleapis.com/css?family=Bangers' rel='stylesheet' type='text/css'>
    <link href="/assets/stylesheets/Site.css" rel="stylesheet" type="text/css" />
    <title>{% if page.title %}{{ page.title }}{% else %} {{ site.title }}{% endif %}</title>
   </head>
    <body>
        <section class="layout">
            <header class="page-header">
                <div class="page-title">
                    <a href="http://politicallyconfused.ninja" title="Go to home page" class="logo"><img src="/assets/images/logo-simple.png" alt="Politically Confused Ninja Logo" title="Politically Confused Ninja" /></a>
                </div>
                <div class="page-menu">
                    <ul class="menu">
                        <li class="menu-item">
                            <a href="http://blog.politicallyconfused.ninja" title="Go to the Politically Confused Ninja blog">Blog&nbsp;</a>
                        </li>
                        <li class="menu-item">
                            Articles
                        </li>
                        <li class="menu-item">
                            Contact
                        </li>
                    </ul>
                </div>
            </header>
            <div class="content-layout">
                <section class="content">
                    {% if page.title %}
					<h2>{{ page.title }}</h2>
					{% endif %}

					{{ content }}
                </section>
                <section class="page-sidebar">
                    <a class="twitter-timeline" href="https://twitter.com/aconfusedninja" data-widget-id="479408142074130432">Tweets by @aconfusedninja</a>
                    <script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+"://platform.twitter.com/widgets.js";fjs.parentNode.insertBefore(js,fjs);}}(document,"script","twitter-wjs");</script>
                    <hr/>
                    <section class="social-media">
                        <h4>Share:</h4>
                        <div class="share-button-area">
                            <a href="https://twitter.com/share" class="twitter-share-button" data-via="aconfusedninja" data-size="large" data-related="aconfusedninja">Tweet</a> <script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+'://platform.twitter.com/widgets.js';fjs.parentNode.insertBefore(js,fjs);}}(document, 'script', 'twitter-wjs');</script>
                        </div>
                        <div class="share-button-area">
                            <div class="g-plus" data-action="share" data-annotation="none" data-height="24"></div>
                        </div>
                </section>
            </div>
            <footer class="page-footer">
                <p>&copy; 2016 - Ian Johnson</p>
            </footer>
        </section>

        <script>
          (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
          (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
          m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
          })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

          ga('create', 'UA-52123414-2', 'politicallyconfused.ninja');
          ga('send', 'pageview');

        </script>
        <script src="https://apis.google.com/js/platform.js" async defer>
          {lang: 'en-GB'}
        </script>   
    </body>
</html>
